{
  "env": {
    "browser": true,
    "node": true
  },
  "extends": [
    "airbnb",
    "standard"
  ],
  "rules": {
    "arrow-body-style": "off",
    "class-methods-use-this": "off",
    "import/extensions": "off",
    "import/no-useless-path-segments": "off",
    "import/prefer-default-export": "off",
    "no-continue": "off",
    "no-param-reassign": ["error", { "props": false }],
    "no-underscore-dangle": "off"
  }
}
