* {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  color: inherit;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
  text-align: start;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 1.25;
  overflow: hidden;
}

:focus {
  outline: none;
}

:focus-visible {
  outline: 2px solid var(--tc1);
  outline-offset: -2px;
}

::placeholder {
  color: inherit;
  opacity: 0.25;
}

::selection {
  background-color: var(--tc1);
  color: #fff;
  fill: #fff;
}

[draggable="true"] span {
  pointer-events: none;
}

[is="sc-dispatcher"],
[is="sc-event-source"],
[is="sc-idb"],
[is="sc-reloader"],
[is="sc-requester"]:empty,
[is="sc-worker"] {
  display: block;
  height: 0;
  width: 0;
}

[is="sc-icon"] {
  flex: 0 0 auto;
}

[is="sc-icon"] svg {
  pointer-events: none;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

[is="sc-audio"]:not([src]):not([srcset]),
[is="sc-video"]:not([src]):not([srcset]),
[is="sc-img"]:not([src]) {
  display: none;
}

[is="sc-mover"] {
  cursor: grab;
}

[is="sc-mover"][sc-active] {
  cursor: grabbing;
}

[is="sc-resizer"][sc-direction="down"],
[is="sc-resizer"][sc-direction="up"] {
  cursor: ns-resize;
}

[is="sc-resizer"][sc-direction="end"],
[is="sc-resizer"][sc-direction="start"] {
  cursor: ew-resize;
}

[is="sc-resizer"][sc-direction~="down"][sc-direction~="end"] {
  cursor: se-resize;
}

[dir="rtl"] [is="sc-resizer"][sc-direction~="down"][sc-direction~="end"] {
  cursor: sw-resize;
}

[is="sc-resizer"][sc-direction~="down"][sc-direction~="start"] {
  cursor: sw-resize;
}

[dir="rtl"] [is="sc-resizer"][sc-direction~="down"][sc-direction~="start"] {
  cursor: se-resize;
}

[is="sc-resizer"][sc-direction~="up"][sc-direction~="end"] {
  cursor: ne-resize;
}

[dir="rtl"] [is="sc-resizer"][sc-direction~="up"][sc-direction~="end"] {
  cursor: nw-resize;
}

[is="sc-resizer"][sc-direction~="up"][sc-direction~="start"] {
  cursor: nw-resize;
}

[dir="rtl"] [is="sc-resizer"][sc-direction~="up"][sc-direction~="start"] {
  cursor: ne-resize;
}

[sc-align-x="center"][sc-direction="column"],
[sc-align-y="center"][sc-direction="row"] {
  align-items: center;
}

[sc-align-x="center"][sc-direction="row"],
[sc-align-y="center"][sc-direction="column"] {
  justify-content: center;
}

[sc-align-x="end"][sc-direction="column"],
[sc-align-y="bottom"][sc-direction="row"] {
  align-items: flex-end;
}

[sc-align-x="end"][sc-direction="row"],
[sc-align-y="bottom"][sc-direction="column"] {
  justify-content: flex-end;
}

[sc-align-x="justify"][sc-direction="row"],
[sc-align-y="justify"][sc-direction="column"] {
  justify-content: space-between;
}

[sc-align-x="start"][sc-direction="column"],
[sc-align-y="top"][sc-direction="row"] {
  align-items: flex-start;
}

[sc-align-x="start"][sc-direction="row"],
[sc-align-y="top"][sc-direction="column"] {
  justify-content: flex-start;
}

[sc-bg-color="black"] {
  background-color: #000;
}

[sc-bg-color="black-transparent"] {
  background-color: rgba(0, 0, 0, 0.5);
}

[sc-bg-color="contrast"] {
  background-color: var(--gc2);
}

[sc-bg-color="green"] {
  background-color: green;
}

[sc-bg-color="normal"] {
  background-color: var(--gc1);
}

[sc-bg-color="red"] {
  background-color: firebrick;
}

[sc-bg-color="theme"] {
  background-color: var(--tc1);
  color: #fff;
  fill: #fff;
}

[sc-bg-color="white"] {
  background-color: #fff;
}

[sc-bg-color="white-transparent"] {
  background-color: rgba(255, 255, 255, 0.5);
}

[sc-bg-color-interact] {
  cursor: pointer;
}

[sc-bg-color-interact="contrast"]:hover {
  background-color: var(--gc3);
}

[sc-bg-color-interact="contrast"]:active {
  background-color: var(--gc4);
}

[sc-bg-color-interact="normal"]:hover {
  background-color: var(--gc2);
}

[sc-bg-color-interact="normal"]:active {
  background-color: var(--gc3);
}

[sc-bg-color-active="contrast"][sc-active] {
  background-color: var(--gc3);
}

[sc-bg-color-active="normal"][sc-active] {
  background-color: var(--gc2);
}

[sc-bg-color-active="theme"][sc-active] {
  background-color: var(--tc1);
  color: #fff;
  fill: #fff;
}

[sc-bg-color-active-focus="contrast"][sc-active] {
  background-color: var(--gc2);
}

[sc-focused] [sc-bg-color-active-focus="contrast"][sc-active] {
  background-color: var(--gc3);
}

[sc-bg-color-active-focus="normal"][sc-active] {
  background-color: var(--gc1);
}

[sc-focused] [sc-bg-color-active-focus="normal"][sc-active] {
  background-color: var(--gc2);
}

[sc-bg-color-active-focus="theme"][sc-active] {
  background-color: var(--gc2);
}

[sc-focused] [sc-bg-color-active-focus="theme"][sc-active] {
  background-color: var(--tc1);
  color: #fff;
  fill: #fff;
}

[sc-bg-color-checked="contrast"]:checked {
  background: linear-gradient(var(--gc3), var(--gc3));
  color: var(--fc1);
}

[sc-bg-color-checked="normal"]:checked {
  background: linear-gradient(var(--gc2), var(--gc2));
  color: var(--fc1);
}

[sc-bg-color-checked="theme"]:checked {
  background: linear-gradient(var(--tc1), var(--tc1));
  color: #fff;
  fill: #fff;
}

[sc-border-color="contrast"] {
  border-color: var(--gc3);
}

[sc-border-color="normal"] {
  border-color: var(--gc2);
}

[sc-border-color="theme"] {
  border-color: var(--tc1);
}

[sc-checkbox-color],
[sc-radio-color] {
  align-items: center;
  appearance: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  padding: 2px;
}

[sc-checkbox-color] {
  padding: 3px;
}

[sc-checkbox-color="normal"],
[sc-radio-color="normal"] {
  border: 2px solid var(--fc2);
}

[sc-checkbox-color="theme"],
[sc-radio-color="theme"] {
  border: 2px solid var(--fc2);
}

[sc-active] [sc-checkbox-color="normal"],
[sc-checkbox-color="normal"]:checked {
  background-color: var(--fc1);
  border: 2px solid var(--fc1);
}

[sc-active] [sc-checkbox-color="theme"],
[sc-checkbox-color="theme"]:checked {
  background-color: var(--tc1);
  border: 2px solid var(--tc1);
}

[sc-active] [sc-radio-color="normal"],
[sc-radio-color="normal"]:checked {
  border: 2px solid var(--fc1);
}

[sc-active] [sc-radio-color="theme"],
[sc-radio-color="theme"]:checked {
  border: 2px solid var(--tc1);
}

[sc-checkbox-color]::before,
[sc-radio-color]::before {
  border-radius: inherit;
  content: "";
  height: 100%;
  width: 100%;
}

[sc-checkbox-color]::before {
  clip-path: polygon(6% 50%, 0% 56%, 31% 88%, 100% 19%, 94% 13%, 31% 75%);
}

[sc-active] [sc-checkbox-color="normal"]::before,
[sc-checkbox-color="normal"]:checked::before {
  background-color: var(--gc1);
}

[sc-active] [sc-checkbox-color="theme"]::before,
[sc-checkbox-color="theme"]:checked::before {
  background-color: #fff;
}

[sc-active] [sc-radio-color="normal"]::before,
[sc-radio-color="normal"]:checked::before {
  background-color: var(--fc1);
}

[sc-active] [sc-radio-color="theme"]::before,
[sc-radio-color="theme"]:checked::before {
  background-color: var(--tc1);
}

[sc-clip] {
  overflow: hidden;
}

[sc-clip="text"] {
  text-overflow: ellipsis;
  white-space: nowrap;
}

[sc-direction="column"] {
  display: flex;
  flex-direction: column;
}

[sc-direction="row"] {
  display: flex;
  flex-direction: row;
}

[sc-direction="wrap"] {
  display: inline-flex;
  flex-flow: row wrap;
}

[sc-display] {
  display: none !important;
}

[sc-interact] {
  cursor: pointer;
}

[sc-drop-over] {
  outline: 2px solid var(--tc1);
  outline-offset: -2px;
}

[sc-range] {
  appearance: none;
  --range: calc(var(--max, 100) - var(--min, 0));
  --ratio: calc((var(--value) - var(--min, 0)) / var(--range));
  --sx: calc(0.5 * 1.5em + var(--ratio) * (100% - 1.5em));
}

[sc-range]::-moz-range-progress {
  background-color: var(--sc-range-fg-color);
  height: 0.25rem;
  transition-property: background-color;
}

[sc-range]::-moz-range-thumb {
  appearance: none;
  background-color: var(--sc-range-fg-color);
  border: none;
  border-radius: 50%;
  box-shadow: none;
}

[sc-range]::-moz-range-track {
  background-color: var(--sc-range-bg-color);
  height: 0.25rem;
}

[sc-range]::-webkit-slider-runnable-track {
  background: linear-gradient(
    to right,
    var(--sc-range-fg-color),
    var(--sc-range-fg-color) var(--sx),
    var(--sc-range-bg-color) var(--sx),
    var(--sc-range-bg-color)
  );
  height: 0.25rem;
}

[dir="rtl"] [sc-range]::-webkit-slider-runnable-track {
  background: linear-gradient(
    to right,
    var(--sc-range-bg-color),
    var(--sc-range-bg-color) var(--sx),
    var(--sc-range-fg-color) var(--sx),
    var(--sc-range-fg-color)
  );
}

[sc-range]::-webkit-slider-thumb {
  appearance: none;
  background-color: var(--sc-range-fg-color);
  border: none;
  border-radius: 50%;
  box-shadow: none;
}

[sc-range="auto"]::-moz-range-thumb {
  height: 1.5rem;
  width: 1.5rem;
}

[sc-range="auto"]::-webkit-slider-thumb {
  height: 1.5rem;
  margin: -0.625rem 0 0;
  width: 1.5rem;
}

[sc-range="none"]::-moz-range-thumb {
  height: 0;
  width: 0;
}

[sc-range="none"]::-webkit-slider-thumb {
  display: none;
}

[sc-range="small"]::-moz-range-thumb {
  height: 1rem;
  width: 1rem;
}

[sc-range="small"]::-webkit-slider-thumb {
  height: 1rem;
  margin: -0.375rem 0 0;
  width: 1rem;
}

[sc-range-bg-color="contrast"] {
  --sc-range-bg-color: var(--gc3);
}

[sc-range-bg-color="normal"] {
  --sc-range-bg-color: var(--gc2);
}

[sc-range-bg-color="white"] {
  --sc-range-bg-color: #fff;
}

[sc-range-bg-color="white-transparent"] {
  --sc-range-bg-color: rgba(255, 255, 255, 0.5);
}

[sc-range-fg-color="normal"] {
  --sc-range-fg-color: var(--fc1);
}

[sc-range-fg-color="theme"] {
  --sc-range-fg-color: var(--tc1);
}

[sc-range-fg-color="white"] {
  --sc-range-fg-color: #fff;
}

[sc-scrollbar="auto"],
[sc-scrollbar="none"],
[sc-scrollbar="small"] {
  overflow: auto;
  overscroll-behavior: contain;
  scrollbar-color: transparent transparent;
}

[sc-scrollbar="auto"] {
  scrollbar-width: auto;
}

[sc-scrollbar="none"] {
  scrollbar-width: none;
}

[sc-scrollbar="small"] {
  scrollbar-width: thin;
}

[sc-scrollbar="auto"]::-webkit-scrollbar {
  height: 0.5rem;
  width: 0.5rem;
}

[sc-scrollbar="none"]::-webkit-scrollbar {
  display: none;
}

[sc-scrollbar="small"]::-webkit-scrollbar {
  height: 0.25rem;
  width: 0.25rem;
}

[sc-scrollbar-axis="x"] {
  overflow-x: scroll;
}

[sc-scrollbar-axis="y"] {
  overflow-y: scroll;
}

[sc-scrollbar-color="contrast"]:hover {
  scrollbar-color: var(--gc3) transparent;
}

[sc-scrollbar-color="contrast"]:hover::-webkit-scrollbar-thumb {
  background-color: var(--gc3);
}

[sc-scrollbar-color="normal"]:hover {
  scrollbar-color: var(--gc2) transparent;
}

[sc-scrollbar-color="normal"]:hover::-webkit-scrollbar-thumb {
  background-color: var(--gc2);
}

[sc-scrollbar-color="theme"]:hover {
  scrollbar-color: var(--tc1) transparent;
}

[sc-scrollbar-color="theme"]:hover::-webkit-scrollbar-thumb {
  background-color: var(--tc1);
}

[sc-text-color="black"] {
  color: #000;
  fill: #000;
}

[sc-text-color="contrast"] {
  color: var(--fc2);
  fill: var(--fc2);
}

[sc-text-color="green"] {
  color: green;
  fill: green;
}

[sc-text-color="normal"] {
  color: var(--fc1);
  fill: var(--fc1);
}

[sc-text-color="red"] {
  color: firebrick;
  fill: firebrick;
}

[sc-text-color="theme"] {
  color: var(--tc1);
  fill: var(--tc1);
}

[sc-text-color="white"] {
  color: #fff;
  fill: #fff;
}

[sc-text-color-interact] {
  cursor: pointer;
}

[sc-text-color-interact="theme"]:hover {
  color: var(--tc1);
  fill: var(--tc1);
}

[sc-text-color-interact="theme"]:active {
  color: var(--tc1);
  fill: var(--tc1);
}

[sc-text-color-interact="opacity"]:active {
  opacity: 0.75;
}

[sc-text-color-active="normal"][sc-active] {
  color: var(--fc1);
  fill: var(--fc1);
}

[sc-text-color-active="theme"][sc-active] {
  color: var(--tc1);
  fill: var(--tc1);
}

[sc-text-style~="bold"] {
  font-weight: bold;
}

[sc-text-style~="uppercase"] {
  text-transform: uppercase;
}

[dir="rtl"] .sc-arrow {
  rotate: 180deg;
}

@media (hover: hover) {
  :active > .sc-arrow,
  :focus > .sc-arrow {
    transition-property: rotate;
  }
}

@media (hover: none) {
  :hover > .sc-arrow {
    transition-property: rotate;
  }
}

[sc-open] .sc-arrow {
  rotate: 90deg;
}

.sc-drawer line,
.sc-drawer path {
  stroke: var(--fc2);
}

.sc-drawer text {
  color: var(--fc2);
  font-family: inherit;
  font-size: 14px;
}

.sc-disabled:disabled {
  color: inherit;
  fill: inherit;
  opacity: 0.5;
  pointer-events: none;
}

.sc-hidden[hidden] {
  display: none;
}

.sc-recorder video {
  width: 100%;
}

.sc-recorder[sc-facing-mode="user"] video {
  transform: scaleX(-1);
}

.sc-recorder[sc-type="code"][sc-started] + .sc-code-overlay {
  border-color: rgba(0, 0, 0, 0.5);
  border-style: solid;
  border-width: var(--sc-code-overlay-y) var(--sc-code-overlay-x);
}

.sc-recorder[sc-type="code"][sc-started][sc-has-code]
  + .sc-code-overlay::after {
  display: block;
  content: "";
  height: 100%;
  outline: 4px solid var(--tc1);
  outline-offset: -4px;
  position: absolute;
  width: 100%;
}

.sc-popup[sc-left-calc="end-at-start"] {
  padding-left: 0;
  padding-right: 0.5rem;
}

[dir="rtl"] .sc-popup[sc-left-calc="end-at-start"] {
  padding-left: 0.5rem;
  padding-right: 0;
}

.sc-popup[sc-left-calc="start-at-end"] {
  padding-left: 0.5rem;
  padding-right: 0;
}

[dir="rtl"] .sc-popup[sc-left-calc="start-at-end"] {
  padding-left: 0;
  padding-right: 0.5rem;
}

.sc-popup[sc-left-calc="screen-center"] {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.sc-popup[sc-top-calc="bottom-at-top"] {
  padding-bottom: 0.5rem;
}

.sc-popup[sc-top-calc="screen-center"] {
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

.sc-popup[sc-top-calc="top-at-bottom"] {
  padding-top: 0.5rem;
}

.sc-shadow {
  box-shadow: 0 2px 0.5rem -2px var(--gc3);
}

.sc-table {
  border-collapse: collapse;
  border-spacing: 0;
  overflow: hidden;
}

.sc-table[sc-elements="0"] tbody:first-of-type:not(:last-of-type),
.sc-table:not([sc-elements="0"]) tbody:last-of-type:not(:first-of-type) {
  display: none;
}

.sc-table [sc-handle] {
  display: flex;
  flex: 0 0 0;
  overflow: hidden;
  transition-property: flex-basis;
}

.sc-table [sc-handle="drag"] {
  cursor: grabbing;
}

.sc-table:not([sc-drag-handle]) [sc-handle="drag"],
.sc-table:not([sc-select-handle]) [sc-handle="select"] {
  flex-basis: 0 !important;
}

.sc-table[sc-tree] [sc-tree-inset] {
  width: calc(var(--sc-tree-inset, 1rem) * (var(--sc-tree-level)));
}
