@mixin breakpoint($name) {
  [is*="sc-"] {
    --breakpoint: #{$name};
  }

  [sc-border~="@#{$name}"] {
    border-style: solid;
    border-width: 1px;
  }

  [sc-border-bottom~="@#{$name}"] {
    border-bottom-style: solid;
    border-bottom-width: 1px;
  }

  [sc-border-end~="@#{$name}"],
  [dir="rtl"] [sc-border-start~="@#{$name}"] {
    border-left-style: none;
    border-left-width: 0;
    border-right-style: solid;
    border-right-width: 1px;
  }

  [sc-border-start~="@#{$name}"],
  [dir="rtl"] [sc-border-end~="@#{$name}"] {
    border-left-style: solid;
    border-left-width: 1px;
    border-right-style: none;
    border-right-width: 0;
  }

  [sc-border-top~="@#{$name}"] {
    border-top-style: solid;
    border-top-width: 1px;
  }

  [sc-border-x~="@#{$name}"] {
    border-left-style: solid;
    border-left-width: 1px;
    border-right-style: solid;
    border-right-width: 1px;
  }

  [sc-border-y~="@#{$name}"] {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-top-width: 1px;
  }

  [sc-display~="@#{$name}"] {
    display: initial !important;
  }

  [sc-fixed~="@#{$name}"],
  [sc-fixed~="bottom@#{$name}"],
  [sc-fixed~="center@#{$name}"],
  [sc-fixed~="top@#{$name}"] {
    position: fixed;
    z-index: 1;
  }

  [sc-fixed~="bottom@#{$name}"],
  [sc-fixed~="top@#{$name}"] {
    left: 0;
  }

  [dir="rtl"] [sc-fixed~="bottom@#{$name}"],
  [dir="rtl"] [sc-fixed~="top@#{$name}"] {
    left: auto;
    right: 0;
  }

  [sc-fixed~="bottom@#{$name}"] {
    bottom: 0;
  }

  [sc-fixed~="center@#{$name}"] {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  [sc-fixed~="top@#{$name}"] {
    top: 0;
  }

  [sc-height~="flex@#{$name}"] {
    flex: 1;
  }

  [sc-height~="max@#{$name}"] {
    height: 100%;
  }

  [sc-height~="mid@#{$name}"] {
    height: 50%;
  }

  [sc-hide-mode~="height@#{$name}"]:not(.sc-scroll) {
    overflow: hidden;
  }

  [sc-hide-mode~="bottom@#{$name}"] {
    bottom: 0;
  }

  [sc-hide-mode~="center@#{$name}"] {
    bottom: 0;
    left: 0;
  }

  [sc-hide-mode~="end@#{$name}"],
  [dir="rtl"] [sc-hide-mode~="start@#{$name}"] {
    left: auto;
    right: 0;
  }

  [sc-hide-mode~="start@#{$name}"],
  [dir="rtl"] [sc-hide-mode~="end@#{$name}"] {
    left: 0;
    right: auto;
  }

  [sc-hide-mode~="top@#{$name}"] {
    top: 0;
  }

  [sc-max-height~="max@#{$name}"] {
    max-height: 100%;
  }

  [sc-max-height~="mid@#{$name}"] {
    max-height: 50%;
  }

  [sc-max-width~="max@#{$name}"] {
    max-width: 100%;
  }

  [sc-max-width~="mid@#{$name}"] {
    max-width: 50%;
  }

  [sc-padding~="@#{$name}"] {
    padding: 1rem;
  }

  [sc-padding-bottom~="@#{$name}"] {
    padding-bottom: 1rem;
  }

  [sc-padding-end~="@#{$name}"],
  [dir="rtl"] [sc-padding-start~="@#{$name}"] {
    padding-left: 0;
    padding-right: 1rem;
  }

  [sc-padding-start~="@#{$name}"],
  [dir="rtl"] [sc-padding-end~="@#{$name}"] {
    padding-left: 1rem;
    padding-right: 0;
  }

  [sc-padding-top~="@#{$name}"] {
    padding-top: 1rem;
  }

  [sc-padding-x~="@#{$name}"] {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  [sc-padding-y~="@#{$name}"] {
    padding-bottom: 1rem;
    padding-top: 1rem;
  }

  [sc-transition~="@#{$name}"] {
    transition-duration: 250ms;
    transition-property: none;
    transition-timing-function: cubic-bezier(0.83, 0, 0.17, 1);
  }

  [sc-width~="flex@#{$name}"] {
    flex: 1;
  }

  [sc-width~="max@#{$name}"] {
    width: 100%;
  }

  [sc-width~="mid@#{$name}"] {
    width: 50%;
  }

  @for $i from 1 through 64 {
    [sc-height~="#{$i}@#{$name}"] {
      height: #{$i}rem;
    }

    [sc-max-height~="#{$i}@#{$name}"] {
      max-height: #{$i}rem;
    }

    [sc-max-width~="#{$i}@#{$name}"] {
      max-width: #{$i}rem;
    }

    [sc-min-height~="#{$i}@#{$name}"] {
      min-height: #{$i}rem;
    }

    [sc-min-width~="#{$i}@#{$name}"] {
      min-width: #{$i}rem;
    }

    [sc-width~="#{$i}@#{$name}"] {
      width: #{$i}rem;
    }
  }
}
