.app {
  border-radius: 1em;
  display: flex;
  height: 48em;
  opacity: 0;
  overflow: hidden;
  width: 64em;
}

.app.in {
  opacity: 1;
}

.outset-x .app,
.outset-y .app {
  border-radius: 0;
}

.outset-x .app {
  width: 100%;
}

.outset-y .app {
  height: 100%;
}

@media (max-width: 64em) {
  .app {
    border-radius: 0;
    padding: 0;
    width: 100%;
  }
}

@media (max-height: 48em) {
  .app {
    border-radius: 0;
    height: 100%;
    padding: 0;
  }
}

.app>* {
  overflow: hidden;
}

.app>.main:not(:empty) {
  background: whitesmoke;
  flex: 1 1 auto;
  height: 100%;
  position: relative;
}

.app>.menu:not(:empty) {
  background: whitesmoke;
  border-right: 1px solid lightgrey;
  height: 100%;
  position: relative;
  width: 21.333em;
}

*[dir='rtl'] .app>.menu {
  border-left: 1px solid lightgrey;
  border-right: 0;
}

@media (max-width: 48em) {
  .app>.menu {
    left: -100%;
    max-width: 85%;
    position: absolute;
    z-index: 3;
  }

  .app>.menu.in {
    left: 0;
  }

  *[dir='rtl'] .app>.menu {
    left: 0;
    right: -100%;
  }

  *[dir='rtl'] .app>.menu.in {
    right: 0;
  }
}
