* {
  box-sizing: border-box;
  font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;
  font-size: 16px;
  line-height: 1.25em;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

body {
  align-items: center;
  cursor: default;
  display: flex;
  height: 100%;
  justify-content: center;
  margin: 0;
  position: absolute;
  width: 100%;
}

button {
  background: none;
  border: 0;
  color: inherit;
  padding: 0;
  text-align: start;
  user-select: text;
}

@media not all and (max-width: 64em) {
  button:focus,
  input:focus,
  label:focus,
  select:focus,
  textarea:focus {
    outline: 1px dotted black;
  }
}

fieldset,
form {
  border: 0;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

p a {
  text-decoration: underline;
}

p a:hover {
  text-decoration: none;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

.click,
.click * {
  cursor: pointer;
}

.hint:not(:empty) {
  color: red;
  font-size: 0.9em;
}

.loading.in {
  animation: spin 1s infinite linear;
  border: 1px solid grey;
  border-radius: 50%;
  border-right: none;
  flex: none;
  height: 1.5em;
  margin: 1em auto;
  position: relative;
  top: -0.5em;
  width: 1.5em;
}

.message:not(:empty) {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0.5em;
  text-align: center;
}

.transition {
  transition: all 0.25s ease-in-out;
}

:focus {
  outline: none;
}

::-moz-focus-inner {
  border: 0;
}

@keyframes spin {
  from {
    transform: scale(1) rotate(0deg);
  }

  to {
    transform: scale(1) rotate(360deg);
  }
}

@media not all and (max-width: 48em) {
  .button.show-menu {
    display: none !important;
  }
}

@media (-webkit-min-device-pixel-ratio: 2) {

  *,
  *:before {
    border-width: 0.5px !important;
  }
}
