.tab {
  border: 1px solid rgb(14, 122, 254);
  border-radius: 0.25em;
  color: rgb(14, 122, 254);
  display: flex;
}

.tab>* {
  flex: 1;
  font-size: 0.9em;
  padding: 0.25em 0.5em;
  text-align: center;
}

.tab>.selected {
  background: rgb(14, 122, 254);
  color: white;
}

.tab *+* {
  border-left: 1px solid rgb(14, 122, 254);
}

*[dir='rtl'] .tab *+* {
  border-left: none;
  border-right: 1px solid rgb(14, 122, 254);
}
