.tab {
  border-radius: 0.25em;
  display: flex;
}

.tab>* {
  flex: 1;
  font-size: 0.9em;
  padding: 0.25em 0.5em;
  text-align: center;
}

.tab>.selected {
  color: white;
}

*[dir='rtl'] .tab *+* {
  border-left: none;
}
